<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <figure class="highcharts-figure">
    <title>SimplePlant</title>
</head>
<heaeder>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <img src="../static/pictures/logo-removebg-preview.png" height="50px" alt="">
          <a class="navbar-brand" href="#">SimplePlant</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/configs">History</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/log">Log</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</heaeder>

 <!-- Sensor Hists -->
 <div class="container">
  <form class="row mt-5" id="dateForm">
    <div class="col-2">
      <label for="start">Choose a Date</label>
      <input type="date" id="start" name="trip-start" value="2024-01-01" min="2024-01-01" max="9999-12-31" class="form-control"/>
    </div>
  </form>

  <div class="row mb-5">
    <div class="col-12">
        <div id="container-chart"></div>
    </div>
  </div>
 </div>

 <script src="{{url_for('static', filename='hist.js')}}"></script>
<script>
// Hinzufügen des Event Listeners für das Formular
document.addEventListener('DOMContentLoaded', function() {
    const today = new Date();
    const dd = String(today.getDate()).padStart(2, '0');
    const mm = String(today.getMonth() + 1).padStart(2, '0');
    const yyyy = today.getFullYear();
    
    const formattedDate = `${yyyy}-${mm}-${dd}`;

    document.getElementById('start').value = formattedDate;
    fetchDynamicData(formattedDate)
});


const dateForm = document.getElementById('dateForm');
dateForm.addEventListener('change', function(event) {
    const selectedDate = document.getElementById('start').value;
    console.log(selectedDate);
    fetchDynamicData(selectedDate);
});

async function fetchDynamicData(selectedDate) {
    console.log(selectedDate)
    try {
        const response = await fetch('/get_data_for_day?' + new URLSearchParams({date: selectedDate}));
        if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
        }

        const data = await response.json();
        
        
        // Update chart with the new data
        for (let series of chart.series) {
          sensor_data = data.day_data[series.name];
          sensor_values = sensor_data.map(elem => elem[1]);
          series.setData(sensor_values);
        }      

    } catch (error) {
        console.error('Error fetching dynamic data:', error);
    }
}


var chart = Highcharts.chart('container-chart', {
    chart: {
        type: 'line',
    },
    title: {
        text: 'Historical Sensor Charts',
        align: 'left'
    },
    legend: {
        layout: 'vertical',
        align: 'left',
        verticalAlign: 'top',
        x: 120,
        y: 70,
        floating: true,
        borderWidth: 1,
        backgroundColor:
            Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF'
    },
    xAxis: {
    },
    yAxis: {
        title: {
            text: 'Sensor-Value'
        }
    },
    tooltip: {
        shared: true,
        headerFormat: '<b>Sensor-Value Nr. {point.x}</b><br>'
    },
    credits: {
        enabled: false
    },
    plotOptions: {
        series: {
            pointStart: 1
        },
        areaspline: {
            fillOpacity: 0.5
        }
    },
    series: [{
        name: 'ph',
        data:
            []
    }, {
        name: 'ec',
        data: []
    }, {
        name: 'waterlevel',
        data: []
    }, {
        name: 'temperature',
        data: []
    }, {
        name: 'humidity',
        data: []
    }, {
        name: 'light',
        data: []
    }]
});

</script>

</body>
</html>

